<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
       <add key="InspiredPublic" value="https://pkgs.dev.azure.com/InspiredTestingSAS/be313dbf-20be-475e-acdb-b1dd48d7d32e/_packaging/InspiredPublic/nuget/v3/index.json" />
      </packageSources>

      <activePackageSource>
        <add key="All" value="(Aggregate source)" />
      </activePackageSource>
</configuration>